Repository GoogleCloudPlatform/dataproc-templates, pull requests merged in 2024-10, with the labels that each got.

#963 feat: Initial commit for Spark runtime update to 1.2
  java/.ci/Jenkinsfile
  java/bin/start.sh
  java/pom.xml
  java/src/main/java/com/google/cloud/dataproc/templates/config/GeneralTemplateConfig.java
  java/src/main/java/com/google/cloud/dataproc/templates/config/OutputConfig.java
  java/src/main/java/com/google/cloud/dataproc/templates/databases/CassandraToBQ.java
  java/src/main/java/com/google/cloud/dataproc/templates/dataplex/DataplexGCStoBQ.java
  java/src/main/java/com/google/cloud/dataproc/templates/hbase/README.md
  java/src/main/java/com/google/cloud/dataproc/templates/hive/HiveToBigQuery.java
  java/src/main/java/com/google/cloud/dataproc/templates/jdbc/JDBCToBigQuery.java
  java/src/main/java/com/google/cloud/dataproc/templates/kafka/KafkaToBQ.java
  java/src/main/java/com/google/cloud/dataproc/templates/kafka/README.md
  java/src/main/java/com/google/cloud/dataproc/templates/main/DataProcTemplate.java
  java/src/main/java/com/google/cloud/dataproc/templates/pubsublite/PubSubLiteToBigTable.java
  java/src/main/java/com/google/cloud/dataproc/templates/util/Dataplex/DataplexAPIUtil.java
  java/src/main/java/com/google/cloud/dataproc/templates/util/Dataplex/DataplexAssetUtil.java
  java/src/main/java/com/google/cloud/dataproc/templates/util/Dataplex/DataplexEntityUtil.java
  java/src/main/java/com/google/cloud/dataproc/templates/util/TemplateConstants.java
  java/src/main/java/com/google/cloud/dataproc/templates/util/TemplateUtil.java
  java/src/test/java/com/google/cloud/dataproc/templates/general/GeneralTemplateTest.java
Labels: enhancement, java, dependencies

#980 fix: avro path fix for cluster mode
  java/bin/start.sh
  java/pom.xml
Labels: java

#985 fix: Deprecate TextToBigQuery and PubsubliteToBigTable
  README.md
  java/.ci/Jenkinsfile
  java/README.md
  java/src/main/java/com/google/cloud/dataproc/templates/gcs/TextToBigquery.java
  java/src/main/java/com/google/cloud/dataproc/templates/pubsublite/PubSubLiteToBigTable.java
  java/src/test/java/com/google/cloud/dataproc/templates/gcs/TextToBigqueryTest.java
  java/src/test/java/com/google/cloud/dataproc/templates/pubsublite/PubSubLiteToBigTableTest.java
Labels: java

#989 feat!: Use spark bigtable connector instead of hbase
  python/.ci/Jenkinsfile
  python/dataproc_templates/gcs/README.md
  python/dataproc_templates/gcs/gcs_to_bigtable.py
  python/dataproc_templates/util/template_constants.py
  python/test/gcs/test_gcs_to_bigtable.py
Labels: python

#1004 feat!: Use spark bigtable connector instead of hbase connector
  .gitignore
  python/.ci/Jenkinsfile
  python/dataproc_templates/elasticsearch/Dockerfile
  python/dataproc_templates/elasticsearch/README.md
  python/dataproc_templates/elasticsearch/elasticsearch_to_bigtable.py
  python/dataproc_templates/elasticsearch/hbase-site.xml
  python/dataproc_templates/util/template_constants.py
  python/test/elasticsearch/test_elasticsearch_to_bigtable.py
Labels: enhancement, python

#1000 feat: BigQuery_To_JDBC
  README.md
  java/.ci/Jenkinsfile
  java/README.md
  java/src/main/java/com/google/cloud/dataproc/templates/BaseTemplate.java
  java/src/main/java/com/google/cloud/dataproc/templates/bigquery/BigQueryToJDBC.java
  java/src/main/java/com/google/cloud/dataproc/templates/bigquery/BigQueryToJDBCConfig.java
  java/src/main/java/com/google/cloud/dataproc/templates/bigquery/README.md
  java/src/main/java/com/google/cloud/dataproc/templates/main/DataProcTemplate.java
  java/src/main/resources/template.properties
Labels: enhancement, java
